<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="@{/common/include}::html"></th:block>
</head>
<body>

    <table id="table"></table>

    <!--土壤湿度-->
    <div id="container" style="height: 300px"></div>

    <!--空气湿度-->
    <div id="containerair" style="height: 300px"></div>


    <th:block th:include="@{/common/pagedata}::html"></th:block>


    <script type="text/javascript">

        firstloading()
        refreshQuery();
        /* 刷新查询 */
        function refreshQuery(){

            dateCreate();
            setInterval('refreshQuery()',1000*60);
        }
    </script>

</body>
</html>