<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!--external css-->
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link th:href="@{/css/loginstyle.css}" rel="stylesheet">
    <link th:href="@{/css/style-responsive.css}" rel="stylesheet">
    <script th:src="@{/js/jquery/jquery.js}"></script>
    <script th:src="@{/js/jquery/jquery.validate.min.js}"></script>
    <script th:src="@{/js/jquery/messages_zh.min.js}"></script>
    <script th:src="@{/js/logindata.js}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .error{
            color:red;
        }

    </style>

</head>
<body>

<div>

    <div id="login-page" >
        <div class="container">

            <form class="form-login" id="yanzhengForm" method="post" action="">
                <h2 class="form-login-heading">用户登录</h2>
                <div class="login-wrap">
                    <input type="text" id="username" name="username" class="form-control" placeholder="用户名" autofocus>
                    <span error="username" ></span>
                    <br/>
                    <input type="password" name="password" id="password" class="form-control" placeholder="密码">
                    <span error="password" ></span>
                    <br/>
                    <div class="form-inline">
                        <input type="text" name="verifycode" id="verifycode" style="width: 50%;float: left;" class="form-control" placeholder="验证码" >

                        <a href='#' onclick="javascript:changeImg()" style="color:white;">
                            <img src="" id="validateimage" style="width: 40% ;height: 34px; border: 1px;float: right;" th:src="@{/getimages}"/></a>

                    </div><br/><br/>
                    <span error="verifycode" id="verifycodeError"></span><br/>
                    <label class="checkbox">
		                <span class="pull-right">
		                    <a data-toggle="modal" th:href="@{/login#myModal}"> 忘记密码?</a>
		                </span>
                    </label>
                    <input class="btn btn-theme btn-block" id="denglu" type="buttion" value="登陆">

                    <hr>


                    <div class="registration">
                        您还没有账号?<br/><br/>
                        <a class="" href="register.html">
                            点击这里创建账号
                        </a>
                    </div>

                </div>

                <!-- Modal -->
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">忘记密码 ?</h4>
                            </div>
                            <div class="modal-body">
                                <p>请输入您的邮箱，我们将会发送找回邮件至您的邮箱</p>
                                <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                                <button class="btn btn-theme" type="button">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal -->

            </form>

        </div>
    </div>
</div>

<script type="text/javascript">

    var img=document.getElementById("validateimage");
    //    img.src=getRootPath()+"/getimages";
    function changeImg(){
        img.src = getRootPath()+"/getimages?date=" + new Date();
    }
</script>

<script type="text/javascript" th:src="@{/js/pxsk.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery/jquery.backstretch.min.js}"></script>
<script th:inline="javascript">
    $.backstretch([[@{/img/loginback.jpeg}]], {speed: 500});
</script>


</body>

</html>